[flake8]
application_import_names = sagemaker_tensorflow, test
import-order-style = google
max-line-length = 120
exclude =
    build/
    .git
    __pycache__
    examples/
    *pb2.py
    tests/data/
    venv/
max-complexity = 10
ignore =
    FI10,
    FI12,
    FI13,
    FI14,
    FI15,
    FI16,
    FI17,
    FI50,
    FI51,
    FI52,
    FI53,
    FI54,
    FI55,
    FI56,
    FI57

require-code = True